body .upload-file {
  width: 100%;
  position: relative;

  p-fileupload {
    display: inline-block;
    width: 100%;

    .ui-fileupload-choose {
      width: 100%;
      height: 142px;
      border: 0.5px dashed rgba(0, 0, 0, 0.6);
      cursor: pointer;

      .ui-button-icon-left {
        font-family: transportation-icon !important;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        color: $lightGray;
        left: 0;
        right: 0;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 95px;
        width: 24px;
        height: 24px;
        display: inline-block;
        top: auto;

        &::before {
          content: "\ea0e";
          vertical-align: sub;
        }
      }

      .ui-button-text {
        padding: 0 12px;
        position: absolute;
        height: 28px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.4);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 3px;
        bottom: 24px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 68px;
        font-size: 12px;
      }

      input[type="file"] {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
        width: 360px;
      }
    }
  }

  p {
    margin: 0;
    display: inline-block;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    bottom: 62px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    text-align: center;
  }
}
