body {
  .ui-listbox {
    width: 100%;
    padding: 0;
    border: 0;
    border-radius: 0;

    .ui-listbox-header {
      padding: 0 24px;
      border: 0;
      border-radius: 0;
      margin: 0;

      .ui-chkbox {
        display: none;
        margin: auto 12px auto auto;
        width: 14px;
        height: 14px;
        margin-right: 12px;

        @media print {
          display: none;
        }

        .ui-chkbox-box {
          width: 14px;
          height: 14px;
          padding: 0 2px;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          vertical-align: top;
          background-color: $euTransparent;
          align-items: center;

          .ui-chkbox-icon {
            font-size: 7px;
            font-weight: bold;
            margin: auto;
            line-height: 12px;
          }
        }

        .ui-chkbox-box:not(.ui-state-disabled):hover {
          border-color: $euSecondary;
          background-color: $euTransparent;
        }

        .ui-chkbox-box.ui-state-active,
        .ui-chkbox-box.ui-state-active.ui-state-focus {
          border-color: $euSecondary;
          background-color: $euSecondary;
          color: $euNeutral;

          &:hover {
            border-color: $euSecondary;
            background-color: $euSecondary;
            color: $euNeutral;
          }

          .ui-chkbox-icon {
            color: $euNeutral;
            line-height: 12px;
          }
        }

        .ui-chkbox-box.ui-state-active:not(.ui-state-disabled) {
          &:hover {
            border-color: $euSecondary;
            background-color: $euSecondary;
            color: $euNeutral;
          }

          .ui-chkbox-icon {
            color: $euNeutral;
            line-height: 12px;
          }
        }

        .ui-chkbox-box.ui-state-focus {
          border-color: $euSecondary;
          background-color: $euTransparent;
          color: $euSecondary;
          -webkit-box-shadow: 0 0.3em 0.3em -0.15em $lightestGray;
          box-shadow: 0 0.3em 0.3em -0.15em $lightestGray;

          .ui-chkbox-icon {
            color: $euNeutral;
            line-height: 12px;
          }
        }
      }

      .ui-listbox-filter-container {
        background-color: $euNeutral;
        border: none;
        padding: 0;
        position: relative;
        margin: auto auto 18px auto;
        width: 100%;

        .ui-inputtext {
          height: 36px;
          width: 360px;
          background: $euNeutral;
          border: $contentBorderWidth $contentBorderStyle $contentBorderColor;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: $borderRadius;
          padding: 5px 6px 5px 2.5em;
          font-size: $fontSize;

          &:hover {
            border-color: $lighterGray;
          }

          &:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
            outline: 0;
            border-color: rgba(0, 81, 229, 0.6);
            border-width: 2px;
          }

          &::-webkit-input-placeholder {
            color: $lighterGray;
            font-size: $fontSize;
            text-align: left;
          }
        }

        .ui-listbox-filter-icon {
          top: 10px;
          left: 12px;
          right: auto;
          color: $lightGray;
          font-size: 16px;
        }
      }
    }

    .ui-listbox-list-wrapper {
      padding: 0;

      .ui-listbox-list {
        .ui-listbox-item {
          padding: 0 24px;
          height: 48px;
          margin: 0;
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important;
          align-items: center;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);

          &:last-child {
            border-bottom: none;
          }

          &:not(.ui-state-highlight):not(.ui-state-disabled):hover {
            border-color: rgba(0, 0, 0, 0.1);

            a {
              color: #0072bc;
            }
          }

          &:focus {
            outline: none;
          }

          .ui-chkbox {
            margin-right: 12px;
            width: 14px;
            height: 14px;
            margin-right: 12px;

            @media print {
              display: none;
            }

            .ui-chkbox-box {
              width: 14px;
              height: 14px;
              padding: 0 2px;
              display: -webkit-inline-box;
              display: -ms-inline-flexbox;
              display: inline-flex;
              vertical-align: top;
              background-color: $euTransparent;

              .ui-chkbox-icon {
                font-size: 7px;
                font-weight: bold;
                margin: auto;
                line-height: 12px;
              }
            }

            .ui-chkbox-box:not(.ui-state-disabled):hover {
              border-color: $euSecondary;
              background-color: $euTransparent;
            }

            .ui-chkbox-box.ui-state-active,
            .ui-chkbox-box.ui-state-active.ui-state-focus {
              border-color: $euSecondary;
              background-color: $euSecondary;
              color: $euNeutral;

              &:hover {
                border-color: $euSecondary;
                background-color: $euSecondary;
                color: $euNeutral;
              }

              .ui-chkbox-icon {
                color: $euNeutral;
                line-height: 12px;
              }
            }

            .ui-chkbox-box.ui-state-active:not(.ui-state-disabled) {
              &:hover {
                border-color: $euSecondary;
                background-color: $euSecondary;
                color: $euNeutral;
              }

              .ui-chkbox-icon {
                color: $euNeutral;
                line-height: 12px;
              }
            }

            .ui-chkbox-box.ui-state-focus {
              border-color: $euSecondary;
              background-color: $euTransparent;
              color: $euSecondary;
              -webkit-box-shadow: 0 0.3em 0.3em -0.15em $lightestGray;
              box-shadow: 0 0.3em 0.3em -0.15em $lightestGray;

              .ui-chkbox-icon {
                color: $euNeutral;
                line-height: 12px;
              }
            }
          }
        }
      }
    }
  }
}
